<span>Hey,</span><br /><br /><span
  >You have been penalized according to the following rules:</span
>
<div>
  <ul>
    <li>12.1: It is not allowed to go AFK during a mode.</li>
    <li>
      12.2: Griefing or intentionally sabotaging your own team is not allowed.
    </li>
    <li>
      12.2.1 The repeating of actions against the benefit of the own team is
      considered as trolling (examples below)<br />
      <div>
        a) Intentionally not supporting the team members in the modes. (applies
        especially to Priest)
      </div>
      <div>b) The intentional and senseless running into opposing teams.</div>
      <div>
        c) The prioritized behavior of offensively using damage skills in
        situations that are particularly not suitable for it will be considered
        as trolling for the Priest class.<br />
      </div>
    </li>
    <li>
      12.4: Donating life with the intention of leaving the Battle Royal
      prematurely is prohibited. If you violate this rule, your account will be
      sanctioned according to rule 12.2
    </li>
  </ul>
</div>
<div>
  <br />You were found to be in violation of these rules due to the following
  reasons:
</div>
<div>
  <ul>
    <li>&lt; PUT THE THINGS THE PLAYER DID HERE &gt;</li>
  </ul>
  <div><br /></div>
  <div>
    This penalty follows our standard battlemode ban progression policy:
  </div>
  <div>
    <ul>
      <li>
        Ban duration: 2 days → 4 days → 6 days → 8 days → 16 days → 24 days → 30
        days.
      </li>
      <li>
        The ban history is only cleared after 90 days without receiving any
        battlemode ban.
      </li>
      <li>
        Access to the hidden option within battlemodes is not available for a
        period of 30 days after a battlemode-related penalty has ended.
      </li>
    </ul>
  </div>
  <br />According to rule 10.3, we are unable to disclose the specific evidence
  that led to the penalty in order to protect the privacy of the reporting
  player.<br />
  <ul>
    <li>
      10.3: The staffers are authorized to provide explanations only and
      exclusively to the user who has received the sanction&nbsp;(only via
      ticket). However, the user will not be able to get logs/screenshots of the
      evidence to protect reporter's privacy.
    </li>
  </ul>
  <div>
    <br />
  </div>
  <div>
    In case you are not satisfied with this decision, you may request a review
    by a higher-ranking team member as outlined in Rule 10.7. Please be aware
    that if the review confirms the initial decision, the ruling is final and no
    further appeals will be granted.
  </div>
  <div>
    <ul>
      <li>
        10.7: If a user is not satisfied with an answer from a team member, he
        can ask for a review by a higher ranking team member. If the second
        answer is the same as the first one, it is not possible to ask for
        another review. Note: The Game Administrator is the highest position
        that can be escalated to.
      </li>
    </ul>
  </div>
</div>
