<div>Hey,</div>
<div><br /></div>
<div>Your account is involved in a real-world trading case (rule 17.2) and has therefore received a trade restriction.</div>
<div>
  <ul>
    <li>
      17.2: Real-world trading of items is not allowed either. Both buying and selling are equally punished with a permanent trade restriction on all your accounts. Note: After 60
      days, you can apply once for an unban request, but all illegal gold or items will be removed.<br />
    </li>
  </ul>
</div>
<div><br /></div>
<div>We formally accuse you of having made the following illegal trade(s) on your account with the following character(s):</div>
<div>
  <ul>
    <li><br /></li>
  </ul>
</div>
<div><br /></div>
<div>⇒ Total amount:</div>
<div><br /></div>
<div>We would kindly request a comprehensive breakdown of all these transactions; please provide further details.<br /></div>
<div><br /></div>
<div>
  Furthermore, please do not attempt to deceive us because any further violations will result in a termination of the ticket conversation and/or higher penalties. Additionally,
  this ban will not be lifted easily, as it is your responsibility to provide strong evidence to prove your innocence.
</div>
<div>
  <ul>
    <li>
      3.14: A proven false statement or lie after receiving a penalty in order to mitigate the penalty may result in an extension of the punishment and possible termination of the
      ticket conversation.
    </li>
    <li>17.3: You can appeal for Real World Trading bans only by showing proof of your innocence.</li>
    <li>17.5: Faking real-world trading proofs will lead to a permanent ban of all your accounts.</li>
  </ul>
</div>
<div><br /></div>
<div>Please also note:</div>
<div>
  <ul>
    <li>Of course there is evidence; otherwise, no bans would have been imposed.</li>
    <li>Evidence is generally not shared with third parties to protect the privacy of reporting players.</li>
    <li>The trade in question, which is declared as a real-world trade, may already have taken place several days, weeks, or months ago.</li>
    <li>If you have shared your account, you must also bear the consequences and thus this penalty, even if someone else has committed the rule violation on your account.</li>
    <li>Any proven non-accidental involvement in an RWT case may result in a penalty.</li>
  </ul>
</div>
<div><br /></div>
<div>
  <div>
    According to Rule 17.2 and its note, please be aware that this trade restriction is initially permanent, that [SA]Daveey would decide on your potential unban request instead of
    me, and that a mandatory compensation consisting of at least the full amount of all illegally traded gold and items would be removed during the unbanning process. Please also
    note that the compensation value might be increased/multiplied in case of a repeated RWT offense.
  </div>
  <div><br /></div>
  <div>
    If you have any proof/explanation about the illegal trades we accuse you of listed above, then please provide them now and not later. Otherwise, according to the note of rule
    17.2, in no less than 60 days after the trade restriction was issued, you may apply for an unban request by writing a new ticket addressed to [SA]Daveey regarding the unbanning
    process (including the mandatory removal of the compensation).
  </div>
  <div><br /></div>
  <div>
    Please note that the obligatory compensation will never get lower over time, no matter how long you would wait, and that we also cannot make any exceptions regarding it. Anyone
    before you whose trade ban was lifted needed to pay it without any exceptions, and so would you. If you cannot pay the compensation, we will be unable to move forward with the
    unbanning process for an indefinite amount of time until you can eventually pay it.
  </div>
</div>