<div>Hey,</div>
<div><br /></div>
<div>
  In order to reset, change or disable the security code of your account, please
  follow these steps:<br />
</div>
<div>
  <ol>
    <li>
      First, please go to the "Account Management" page on
      our website (<a href="https://vision4s.com/manage" target="_blank"
        >https://vision4s.com/manage</a
      >) and make sure that you are logged on the website with the correct
      account that you actually want to reset/change/disable the security code of.<br /><br />
    </li>
    <li>
      Once you are sure that you are logged in with the correct account, under "Account & Security", please click
      on "Reset Security Code" on the left side of the page or
      alternatively, follow this link:&nbsp;<a
        href="https://vision4s.com/manage/security"
        target="_blank"
        >https://vision4s.com/manage/security</a
      ><br /><br />
    </li>
    <li>
      You will be asked to solve a captcha in order to proceed. After you done
      that, just click on the "Send" button.<br /><br />
    </li>
    <li>
      Now you will receive an email from '<i>noreply@vision4s.com</i>' with
      further instructions and a link to confirm the reset your security code,
      which you need to click on. In the email, it reads: "CLICK HERE TO RESET
      SECURITY CODE". Please also make sure to check your spam folder in case
      you don't see the email in your inbox.<br /><br />
    </li>
    <li>
      After you clicked on the link "CLICK HERE TO RESET SECURITY CODE" in the
      email in order to confirm the reset, you then will receive a second email
      from '<i>noreply@vision4s.com</i>' which finally contains your newly issued, and therefore random,
      security code.<br /><br />
    </li>
    <li>
      Now, you can use the ingame functions in
      order to change and/or disable your security code using the new one you just received.<br />
    </li>
  </ol>
  <div><br /></div>
</div>
<div>Please let us know if you still have any trouble with the process.</div>
